
{% load static %}

<div class="topbar-filter" dir="rtl">

    <label>بازیگران در هر صفحه:</label>

    <select id="select-actor-count" dir="ltr" style="font-family: 'IRANSansNum'">
        <option value="25">25 بازیگر</option>
        <option value="50">50 بازیگر</option>
        <option value="100">100 بازیگر</option>
        <option value="250">250 بازیگر</option>
    </select>

    <div class="pagination2" dir="ltr">
                            <span id="pagination-celebrity-smallgrid" style="font-family: IRANSansNum">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                            </span>
        <span id="pagination-celebrity-smallgrid-title" style="font-family: IRANSansNum">Page 1 of 6:</span>
    </div>
</div>
